*~
/ChangeLog
/GNUmakefile
/INSTALL
/Makefile
/Makefile.in
/README-release
/aclocal.m4
/autom4te.cache/
/build-aux
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/Makefile
/doc/Makefile.in
/doc/core.c.texi
/doc/gendocs_template
/doc/gendocs_template_min
/doc/gnutls-guile.info
/doc/stamp-vti
/doc/version-guile.texi
/guile-gnutls-*.tar.gz
/guile-gnutls-*.tar.gz.sig
/guile/Makefile
/guile/Makefile.in
/guile/modules/gnutls.go
/guile/modules/gnutls.scm
/guile/modules/gnutls/extra.go
/guile/src/.deps/
/guile/src/.libs/
/guile/src/Makefile
/guile/src/Makefile.in
/guile/src/guile-gnutls-v-2.la
/guile/src/guile_gnutls_v_2_la-core.lo
/guile/src/guile_gnutls_v_2_la-core.o
/guile/src/guile_gnutls_v_2_la-errors.lo
/guile/src/guile_gnutls_v_2_la-errors.o
/guile/src/guile_gnutls_v_2_la-utils.lo
/guile/src/guile_gnutls_v_2_la-utils.o
/guile/test-suite.log
/guile/tests/*.log
/guile/tests/*.trs
/lib
/libtool
/m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/maint.mk
/stamp-h1
